<div class="container mt-3">
    <h1>Book Store</h1>
    <div class="row mt-4">
      <form class="col-12">
        <div class="form-group form-inline">
          Search: <input class="form-control ml-2 col-4" type="text" name="searchTerm" placeholder="Title, Year, Author..." [(ngModel)]="bookSearchService.searchTerm" />
          <div class="spinner" *ngIf="bookSearchService.isLoading$ | async">
            <spinner></spinner>
          </div>
        </div>
  
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" sortable="title" (sort)="onSort($event)">Title</th>
              <th scope="col" sortable="year" (sort)="onSort($event)">Year</th>
              <th scope="col" sortable="genre" (sort)="onSort($event)">Genre</th>
              <th scope="col" sortable="pages" (sort)="onSort($event)">Pages</th>
              <th scope="col" sortable="publisher" (sort)="onSort($event)">Publisher</th>
              <th scope="col" sortable="authorName" (sort)="onSort($event)">Author</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of books$ | async">
              <td>
                <ngb-highlight [result]="book.title" [term]="bookSearchService.searchTerm"></ngb-highlight>
              </td>
              <td>
                <ngb-highlight [result]="book.year | numeric" [term]="bookSearchService.searchTerm"></ngb-highlight>
              </td>
              <td>{{book.genre}}</td>
              <td>{{book.pages}}</td>
              <td>{{book.publisher}}</td>
              <td>
                <ngb-highlight [result]="book.authorName" [term]="bookSearchService.searchTerm"></ngb-highlight>
              </td>
            </tr>
          </tbody>
        </table>
  
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="bookSearchService.page"
            [pageSize]="bookSearchService.pageSize">
          </ngb-pagination>
  
          <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="bookSearchService.pageSize">
            <option [ngValue]="5">5 items per page</option>
            <option [ngValue]="10">10 items per page</option>
            <option [ngValue]="20">20 items per page</option>
          </select>
        </div>
      </form>
    </div>
  </div>